/*
	* ----------------------------------------------------------------------------
        _  _        _                 _                                 _                                               
    ___| |(_) ___ _| |_  ____ _____ _| |_  ___   ___  _   _  _____  ___| |  _     _   _     _       _  _   _   _        
   / __  || |/ __|__  _|/ _  |  _  |_   _|/ __| / _ \| | | ||  _  |/ __  | |_| | |_  |_  | | |  /|   |  | |_  |_   /|   
  | (__| || |\__ \ | |_  (_| | | | | | |_ \__ \| |_| | |_| || | | | (__| |  _  |   |   | | | | |_|  _|  | | | | | |_|   
   \_____||_||___/ |___|\____|_| |_| |___||___/ \___/|_____||_| |_|\_____| |_| |  _|  _| | |_|   | |_   | |_| |_|   |   
   
  * CSS Document Css sub Start 
	* Author: DistantSound 
	* IDE :     
  * ---------------------------------------------------------------------------------------------
*/
.bg-01{width:100%; background: #3f3f3f url(../images/bg-01.jpg) top center no-repeat;background-size:cover;}
 
.title .display-1{ padding:.5rem 0; font-size: .38rem;font-weight:100;}
 
.section-1 .div-box h2{padding-top:.5rem ;line-height:.8rem; font-weight:100;font-size: .45rem;}
.section-1 .div-box h3{margin:1rem 0; font-weight:100;font-size: .35rem;}
 
.section-2 .pic-img{width:1.5rem;height:1.5rem;} 
.section-2 .h-2{padding:.2rem 0 0 0;font-weight: 100;}
.section-2 .s-sp{line-height:.35rem;}
.section-2 p{width:100%; padding:.2rem 0 .5rem 0;}
 
.section-3 .ul-row{padding:.5rem 0;}
.section-3 .div-box{margin: .1rem 0;}
.section-3 .div-box .img-pic{height:3rem; overflow: hidden;cursor: default;}
.section-3 .div-box .h-3{line-height:.6rem; font-size:.3rem;text-align: left;font-weight: 100;}
.section-3 .div-box .h-2{line-height:.35rem; font-size:.18rem;text-align: left;font-weight: 100;margin-bottom:.15rem;}

.section-4 .ul-row{padding:.15rem 0;}
.section-4 .ul-row li{margin:.35rem 0;}
.section-4 .ul-row .img-pic{overflow:hidden;cursor: default;}
.section-4 .ul-row h3{text-align:left;padding:0;line-height:.6rem; font-size:.3rem; font-weight: 100;}
.section-4 .ul-row .s-s{width:100%;padding:0; text-align:left;}
 
.section-5 .ul-row{padding:.15rem 0;}
.section-5 .ul-row li{margin:.15rem 0;} 
.section-5 .ul-row .img-pic{overflow:hidden;cursor: default;}
 
footer{padding:.5rem 0 0 0;} 
footer .display-6{line-height:.5rem;}

/*col-sm*/
@media (min-width: 576px) {
  .section-3 .img-pic{height:3.4rem;}
}

/*col-md*/
@media (min-width:768px) {
  .title .display-1{padding:.6rem 0; font-size: .46rem;}
  .section-3 .div-box .img-pic{height:4rem;}
}

/*col-lg*/
@media (min-width: 992px) {
  .title .display-1{font-size:.5rem;}
  .section-2 p{padding:.2rem .15rem .5rem .15rem ;}

  .section-3 .div-box{margin: 0 .1rem;}
  .section-3 .div-box .img-pic{height:2.4rem;}


  .section-4 .ul-row .div-box{margin: 0 .15rem;}
  .section-4 .ul-row .img-pic{height:3rem;}
  .section-4 .ul-row h3{line-height:.6rem; font-size:.4rem;}
  
   footer{padding:.5rem 0;} 
   footer .a-link{float: right;text-align:right ;margin-right:.15rem;}
}

/*col-xl*/
@media (min-width: 1200px) {
  .section-1{height: 100vh;}
  .section-1 .div-box h2{margin-top: 1rem;padding-top:.3rem;line-height:1.2rem;font-size: .84rem;}
  .section-1 .div-box h3{margin:.8rem 0 .5rem 0;font-size: .5rem;}
 
  .section-2 p{width:auto; padding:.2rem .15rem .5rem .15rem;}

  .section-3 .div-box{margin:.1rem;}
  .section-3 .div-box .h-3{font-size: .26rem;}

  .section-5 .ul-row li{margin-bottom:.35rem;} 
}
